
.header {
  background-color: var(--header);
  color: var(--primary-contrast);
  padding: 0 var(--space-5);
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  margin: 0;
}

