
.header {
  background-color: var(--header);
  color: var(--primary-contrast);
  padding: 0 32px;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  margin: 0;
}


.btn-group button {
  float: left;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover,
.btn-group .selected {
  background-color: var(--primary-darker);
}
