
<div class="table-wrapper">
  <table>
    <tr>
      <th *ngFor="let col of columns">
        {{col.label}}
        <div
          *ngIf="col.value === 'genSchedule'"
          class="info-icon"
        ><fa-icon [icon]="faInfoCircle"></fa-icon></div>
      </th>
    </tr>
    <tr *ngFor="let row of projectDetails">
      <td *ngFor="let col of columns">
        <div class="schedule-container" *ngIf="col.value === 'genSchedule'; else defaultCol">
          <div *ngFor="let rate of makeRelative(row[col.value])">
            <div class="hour-rate-bar mx-1"
              [style]="{'height': rate + 'px'}"
            ></div>
            <!-- <div class="hour-rate-text">{{rate}} &nbsp; </div> -->
          </div>
        </div>
        <ng-template #defaultCol>
          {{row[col.value]}}
        </ng-template>
      </td>
    </tr>
  </table>
</div>
