<!-- <table class="w-100 text-left">
  <tr>
    <th>Abbrev.</th>
    <th>Project</th>
    <th>State</th>
    <th>Summary</th>
    <th>Weather</th>
  </tr>
  <tr *ngFor="let project of projectDetails">
    <td>{{ project.abbr }}</td>
    <td>{{ project.name }}</td>
    <td>{{ project.state }}</td>
    <td>{{ summary }}</td>
    <td>{{ weather }}° F</td>
    <td><button>Details</button></td>
  </tr>
</table> -->
<table mat-table [dataSource]="projectDetails" class="mat-elevation-z8 w-100">
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let project"> {{project.isGenerating ? 'Generating' : 'Not Generating'}} </td>
  </ng-container>

  <ng-container matColumnDef="abbr">
    <th mat-header-cell *matHeaderCellDef> Abbrev. </th>
    <td mat-cell *matCellDef="let project"> {{project.abbr}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let project"> {{project.name}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let project"> {{project.state}} </td>
  </ng-container>

  <ng-container matColumnDef="summary">
    <th mat-header-cell *matHeaderCellDef> Summary </th>
    <td mat-cell> {{summary}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>