.card-container {
  max-width: 450px;
  min-width: 250px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card-header {
  justify-content: space-between;
}
