
<div class="btn-group">
  <button
    *ngFor="let day of weekDays"
    [ngClass]="{'selected': day.value === dayService.selectedDay}"
    (click)="changeDay(day.value)"
  >
    {{ day.label }}
  </button>
</div>

<h2 class="">{{schedule?.date.fullDate}}</h2>
<a [href]="genService.swepcoSource" target="_blank">Swepco Source</a>

<ng-container *ngIf="loadingState !== 'loaded'; else doneLoading">
  <div class="pt-6" *ngIf="loadingState === 'loading'">
    <mat-spinner class="mx-auto"></mat-spinner>
  </div>
  <ng-container *ngIf="loadingState == 'failed'">
    <p>There was an error loading the content. Try refreshing your browser or checking your internet connection or check the source link to see if there is an error there.</p>
    <button mat-raised-button color="primary" aria-label="Refresh browser" (click)="reloadWindow()">
      <mat-icon>refresh</mat-icon> Refresh
    </button>
  </ng-container>
</ng-container>
<ng-template #doneLoading>
  <ng-container *ngIf="isTableView; else showGridView">
    <app-table-view [projectDetails]="schedule?.projectDetails" [columns]="displayCols"></app-table-view>
  </ng-container>
  <ng-template #showGridView>
    <app-grid-view></app-grid-view>
  </ng-template>
</ng-template>
