/* You can add global styles to this file, and also import other style files */
@import "./variables.css";
@import "./css_utils/_index.css";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F2F2F2;
  }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  background-color: var(--primary);
  border: 1px solid var(--primary-darker);
  color: var(--primary-contrast);
  padding: var(--space-3) var(--space-4);
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  display: inline-flex;
  align-items: center;
  position: absolute;
  max-width: 90%;
  z-index: 1000;
}

.tooltip .tooltip-text {
  padding: var(--space-2) var(--space-3);
  background: var(--tool-tip);
  border-radius: 6px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  color: #f8f8f2;
}

.tooltip-arrow {
  width: 0px;
  height: 0px;
}

.tooltip-top { flex-direction: column-reverse; }
.tooltip-top .tooltip-arrow {
  border-top: 6px solid var(--tool-tip);
  border-right: 6px solid transparent;
  border-bottom: none;
  border-left: 6px solid transparent;
}

.tooltip-right { flex-direction: row; }
.tooltip-right .tooltip-arrow {
  border-top: 6px solid transparent;
  border-right: 6px solid var(--tool-tip);
  border-bottom: 6px solid transparent;
  border-left: none;
}

.tooltip-bottom { flex-direction: column; }
.tooltip-bottom .tooltip-arrow {
  border-top: none;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--tool-tip);
  border-left: 6px solid transparent;
}

.tooltip-left { flex-direction: row-reverse; }
.tooltip-left .tooltip-arrow {
  border-top: 6px solid transparent;
  border-right: none;
  border-bottom: 6px solid transparent;
  border-left: 6px solid var(--tool-tip);
}


.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
