/* You can add global styles to this file, and also import other style files */
@import "./variables.css";
@import "./css_utils/_index.css";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F2F2F2;
  }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  overflow: auto;
  height: calc(100% - var(--header-height));
}


button {
  background-color: var(--primary);
  border: 1px solid var(--primary-darker);
  color: var(--primary-contrast);
  padding: var(--space-3) var(--space-4);
  cursor: pointer;
}

.tooltip_show {
  opacity: 1;
}

.tooltip {
  display: inline-flex;
  align-items: center;
  position: absolute;
  max-width: 90%;
  z-index: 1000;
}

.tooltip-arrow {
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--tool-tip);
}

.tooltip-text {
  background: var(--tool-tip);
  border-radius: 6px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  color: #f8f8f2;
  padding: 4px 8px;
}

