:root {
  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.5rem;
  --space-4: 1rem;
  --space-5: 2rem;
  --space-6: 4rem;

  --primary: #CB904D;
  --primary-darker: #BE7F37;
  --primary-contrast: #FFFCF7;
  --secondary: #74A57F;
  --header: #546461;
  --default: #546461;
  --gray: #F2F2F2;
  --hour-rate-bar: #8A9DBC;
  --tool-tip: #2f2f2f;

  --header-height: 64px;

}
